<div class="page-header"> 
  <h2>sign up</h2>
</div>

<form method="post" action="/auth/signup" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">First Name:</label>
      <div class="col-sm-8">
        <input type="text" name="firstname" class="form-control" placeholder="First Name">
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last Name:</label>
      <div class="col-sm-8">
        <input type="text" name="lastname" class="form-control" placeholder="Last Name">
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-8">
        <input type="text" name="email" class="form-control" placeholder="Your email">
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-8">
        <input type="password" name="password" class="form-control" placeholder="Your password">
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password Verification:</label>
      <div class="col-sm-8">
        <input type="password" name="passwordVerify" class="form-control" placeholder="Your password">
      </div>
  </div>
  <input type="submit" value="Sign Up" class="btn btn-info">
</form>