<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
  <div class="container">
    <a href="#">© 2018 Sweeney Arnett</a>
    <a href="https://github.com/sweeneyyy/whereabouts" class="pull-right">GitHub</a>
  </div>
</nav>