<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
  <div class="container">
    <a href="#" class="pull-left" id="copyright">Sweeney Arnett ©2018 </a>
    <a href="https://github.com/sweeneyyy/whereabouts" class="pull-right" id="github">GitHub</a>
  </div>
</nav>