<div class="container" id="homeImage">
  <img src="https://i.imgur.com/83W0SMch.jpg" class="img-responsive img-rounded col-sm-12">
</div>
<hr>
<br>
<h3>HOW IT WORKS</h3>
<br>
<br>
<div class="container">
<section id="about">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>get inspired</h3>
          <p class="howTo">searching top images from tumblr</p>
          <p><a href="favorites/search" class="btn btn-default howToBtn" role="button">search</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>create a vision board</h3>
          <p class="howTo">by saving your favorites</p>
          <p><a href="/favorites/" class="btn btn-default howToBtn" role="button">favorites</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>save your ideas</h3>
          <p class="howTo">in notebooks organized by category</p>
          <p><a href="/notebooks" class="btn btn-default howToBtn" role="button">notebooks</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
</div>
</div>