@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-bottom: 70px;
  background: #e3e5e8;
}

nav {
  background: #fff;
  color: solid-black;
}

.navLinks{
  font-size: 20px;
}

#homePage {
  font-size: 30px;
}

.thumbnail {
  padding: 20px;
}

.howToBtn {
  padding: 10px;
  margin: 10px;
}

#add {
  font-family: 'Quicksand', sans-serif;
}

.panel {
  border-radius: 20px;
  box-shadow: 4px 4px 2px #888888;
}

.panel-footer {
  border-radius: 20px;
  border-top: none;
  background-color: #FFF;
  padding-top: 30px;
}

.panel-footer a {
  text-decoration: none;
}

#newNotebook {
  display: block;
  width: 180px;
  margin: auto;
  font-size: 18px;
}

#notebook-title a {
  color: #32373d;
  text-transform: uppercase;
}

#searchBox {
  width: 300px;
  padding: 5px;
}

.view, .delete-favorite {
  color: #32373d;
}

.view a {
  text-decoration: none;
}

#footer {
  padding: 20px;
}

#copyright, #github, #delNotebook, #editNotebook {
  color: #32373d;
}