body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding-bottom: 70px;
  background: #e3e5e8;
}

nav {
  background: #fff;
  color: solid-black;
}

.navLinks{
  font-size: 20px;
}

#homePage {
  font-size: 30px;
}

.thumbnail {
  padding: 20px;
}

.howToBtn {
  padding: 10px;
  margin: 10px;
}

#add {
  font-family: 'Quicksand', sans-serif;
}

.well {
  border-radius: 30px;
  text-align: left;
}

#newNotebook {
  display: block;
  width: 250px;
  margin: auto;
}

#searchBox {
  width: 300px;
  padding: 5px;
}

#footer {
  padding: 20px;
}

#copyright, #github, #delNotebook, #editNotebook {
  color: #32373d;
;
}