<div class="page-header">
  <h2 class="text-center">See Favorites Here</h2>
</div>

<div class="container">
  <% favoriteOnFrontEnd.forEach(function(item) { %>
  <img src="<%= item.url %>" class="img-responsive center-block img-rounded">
  <% }); %>
</div>


