<div class="page-header">
  <h1 class="text-center">favorites</h1>
</div>
<div class="container">
  <div class="row">
  <% favoriteOnFrontEnd.forEach(function(item) { %>
    <div class="col-sm-3">
      <img src="<%= item.url %>" class="img-responsive center-block img-rounded">
      <br>
        <span id="favorites-links">
          <i class="glyphicon glyphicon-search">
            <a href="/favorites/<%= item.id %>" class="view"></i>
              view
            </a>
          <i class="glyphicon glyphicon-remove">
            <a href="/favorites/<%= item.id %>" class="delete-favorite"></i>
              remove
            </a>
        </span>  
        <br>
    </div>
  <% }); %>
  </div>
</div>




  
