<div class="page-header">
  <h2 class="text-center">one of your fave's</h2>
</div>

<div class="container">
  <img src="<%= favoriteOnFrontEnd.url %>" class="img-responsive center-block img-rounded">
</div>

<hr>

<i class="glyphicon glyphicon-menu-left"><a href="/favorites"></i>
back to favorites
</a>

