<div class="page-header">
  <h2 class="text-center"><%= notebookOnFrontEnd.title %></h2>
</div>

<div class="container">
  <div class="well">
    <%= notebookOnFrontEnd.content %>
  </div>
</div>

<hr>

<i class="glyphicon glyphicon-menu-left"><a href="/notebooks"></i>
back to notebooks
</a>